<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>


    <!--<script th:src="@{js/angular/angular.js}"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>


    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dashboard.css}"/>
    <style>

body{
background-color:#f5f7f8;
}


    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SFMS Assist</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Add Issue</a></li>
            <li><a href="#">Search Issues</a></li>
            <li><a href="#">Profile</a></li>
        </ul>

    </div>
</nav>


<div class="container-fluid">


    <div class="w3-row">

        <div class="w3-col m3">
            sdfdsfdsf
        </div>
        <div class="w3-col m7">
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>


                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">&nbsp;check issue</button>
            </div>
        </div>
        <div class="w3-col m2">
            sdfsdf
        </div>


    </div>
</div>



</body>