<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>


    <!--<script th:src="@{js/angular/angular.js}"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>


    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dashboard.css}"/>
    <style>

body{
background-color:#f5f7f8;
}


    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SFMS Assist</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="w3-card-2 w3-white">
                <div class="container-fluid">
                    <h4 class="w3-center"><span th:text="${session.user.userName}">NAme</span></h4>
                    <p class="w3-center"><img
                            src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAi1AAAAJDQwNTdkZDc2LWExNjEtNDI3Ny05YjVmLWQwZTE0ZjM3YjYyZA.jpg"
                            class="w3-circle" style="height:106px;width:106px" alt="Avatar"/></p>
                    <hr/>
                    <p><i class="glyphicon glyphicon-envelope"></i> <span
                            th:text="${session.user.designation}">email</span></p>
                    <p><i class="glyphicon glyphicon-asterisk"></i> <span
                            th:text="${session.user.employeeId}">Emp no</span></p>
                    <!--<p><i class="glyphicon glyphicon-envelope w3-margin-right w3-text-theme"></i> <span th:text="${session.user.emailId}"></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="w3-card-2  w3-white container-fluid">
                <p >sfgdfgfd dfg df g dfgfd dfg df gdf dfg fdg dfg</p>
                <p>sfgdfgfd dfg df g dfgfd dfg df gdf dfg fdg dfg</p>
                <div class="">
                    <p >sfgdfgfd dfg df g dfgfd dfg df gdf dfg fdg dfg</p>
                    <p>sfgdfgfd dfg df g dfgfd dfg df gdf dfg fdg dfg</p>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="w3-card-2  w3-white">
                <div class="w3-container">
                    <p >sfgdfgfd dfg df g dfgfd dfg df gdf dfg fdg dfg</p>
                    <p>sfgdfgfd dfg df g dfgfd dfg df gdf dfg fdg dfg</p>
                </div>

            </div>
        </div>

    </div>
</div>

</body>