<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>


    <script th:src="@{js/angular/angular.js}"></script>
    <script th:src="@{js/issueDetail.ctrl.js}"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/issueDetails.css}"/>
    <!--loading bar-->
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>

    <link rel="icon" type="image/gif/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Map-circle-grey.svg/768px-Map-circle-grey.svg.png"/>
    <title>Add Issue | SFMS Assist</title>
    <style>


    </style>

</head>
<body>

<div class="w3-bar w3-border w3-white">
    <a style="text-decoration:none;" href="/" class="w3-bar-item w3-button"><strong>&nbsp;&nbsp;SFMS Assist&nbsp;&nbsp;</strong> </a>
    <a style="text-decoration:none;" href="/" class="w3-bar-item w3-button "><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a>

    <div class="w3-dropdown-hover">
        <button class="w3-button"><span class="glyphicon glyphicon-chevron-down"></span></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a style="text-decoration:none;" href="/addIssueDetails" class="w3-bar-item w3-button "><span class="glyphicon glyphicon-plus"></span>&nbsp; Add New Issue</a>
            <a style="text-decoration:none;" href="/allIssues" class="w3-bar-item w3-button "><span class="glyphicon glyphicon-th-list"></span>&nbsp; All Issues</a>
            <a style="text-decoration:none;" href="/searchIssues" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-search"></span>&nbsp; Search Issues Repository</a>
            <a style="text-decoration:none;" href="#" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-folder-close"></span>&nbsp; Provide Class File</a>
        </div>
    </div>
    <a style="text-decoration:none;" href="#" class="w3-bar-item w3-button  w3-right " data-toggle="tooltip" data-placement="bottom" title="Logout"><span class="glyphicon glyphicon-log-out"></span> </a>
</div>
<div class="container-fluid" ng-controller="Ctrl as ctrl">

    <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div class=" w3-card " style="background-color:white;margin-bottom:50px;">
                <div class="w3-panel " id="cardPanel">
                    <h2 style="color:white;">Enter Issue Details</h2>
                </div>

                <form name="theForm" id="form" th:action="@{/submitIssue}" method="POST" autocomplete="off"
                      novalidate="novalidate">


                    <div class="row">
                        <div class="col-sm-4">

                            <label>Ticket ID:</label>

                            <input ng-required="true" placeholder="Ticket ID" type="text" class="form-control"
                                   name="ticketId" ng-model="issue.ticketId" ng-minlength="12" />
                            <span class="error" ng-if="theForm.ticketId.$invalid &amp;&amp; theForm.ticketId.$touched ">Ticket ID is invalid</span>
                            <br/>

                            <label>Bank:</label>

                            <select data-show-subtext="true" data-live-search="true" title="Choose Bank"
                                    class="selectpicker form-control"
                                    ng-required="true" ng-model="issue.bankId" id="bankId" name="bankId">

                                <option th:each="bank : ${bankList}" th:value="${bank.bankId}"
                                        th:text="${bank.bankCode}+' - ' + ${bank.bankName}"></option>
                            </select>
                            <span class="error" ng-if="theForm.bankId.$invalid &amp;&amp; theForm.bankId.$touched ">Bank name is mandatory</span>
                            <br/>

                            <br/>
                            <label>Issue Type:</label><br/>
                            <input type="radio" name="issueType" value="1" ng-required="true"
                                   ng-model="issue.issueType"/> UAT
                            <input type="radio" name="issueType" value="2" ng-required="true"
                                   ng-model="issue.issueType"/> Production
                            <span class="error" ng-if="theForm.issueType.$invalid &amp;&amp; theForm.issueType.$touched ">Issue Type is mandatory</span>
                            <br/>
                            <br/>

                            <label>SFMS Version:</label>
                            <select ng-change="ctrl.clicked()" class="form-control" ng-required="true"
                                    ng-model="issue.sfmsVer" id="sfmsVer"
                                    name="sfmsVer">

                                <option value="1">v5.5.4</option>
                                <option value="2">v5.5.5</option>
                                <option value="3">v5.5.6</option>
                                <option value="4">v5.7</option>
                                <option value="5">v5.7.1</option>
                                <option value="6">v6.0</option>

                            </select>
                            <span class="error" ng-if="theForm.sfmsVer.$invalid &amp;&amp; theForm.sfmsVer.$touched ">SFMS version is mandatory</span>
                            <br/>

                            <label ng-if="ctrl.loaded">Issue Category:</label>


                            <select ng-if="ctrl.loaded" class=" form-control" ng-required="true" ng-model="selectedCat"
                                    ng-change="ctrl.clicked2(selectedCat)" name="selectedCat">

                                <option ng-repeat="categ in ctrl.categList" value="{{categ.issueCategoryId}}">
                                    {{categ.issueCategoryDesc}}
                                </option>

                            </select>
                            <span class="error" ng-if="theForm.selectedCat.$invalid &amp;&amp; theForm.selectedCat.$touched ">Issue Category is mandatory</span>
                            <br/>

                            <label ng-if="ctrl.loadedSubCat">Issue Sub Category:</label>


                            <select ng-if="ctrl.loadedSubCat" class=" form-control" ng-required="true"
                                    ng-model="selectedSubCat"
                                    name="selectedSubCat">
                                <option ng-repeat="subCateg in ctrl.subCategList"
                                        value="{{subCateg.issueSubCategoryId}}">{{subCateg.issueSubCategoryDesc}}
                                </option>
                            </select>
                            <span class="error" ng-if="theForm.selectedSubCat.$invalid &amp;&amp; theForm.selectedSubCat.$touched ">Issue Sub Category is mandatory</span>

                            <div ng-if="theForm.selectedSubCat.$valid" class="checkbox">
                                <label><input type="checkbox" ng-click="ctrl.checkBxClk()"  name="solCheckbox"/>Instant close</label>

                            </div>



                        </div>
                        <div class="col-sm-8">

                            <label>Title:</label>
                            <input placeholder="Title" type="text" class="form-control"
                                   name="title" ng-required="true" ng-model="issue.title"  />
                            <span class="error" ng-if="theForm.title.$invalid &amp;&amp; theForm.title.$touched ">Title is mandatory</span>
                            <br/>

                            <label>Description:</label>
                            <textarea rows="17" placeholder="Description" type="text" class="form-control"

                                      name="desc" ng-required="true" ng-model="issue.desc"></textarea>
                            <span class="error" ng-if="theForm.desc.$invalid &amp;&amp; theForm.desc.$touched ">Description is mandatory</span>

                        </div>

                        <div class="row" ng-if="ctrl.showSol">
                            <div class="col-sm-12">
                                <label>Solution:</label>
                                <span class="error" ng-if="theForm.sol.$invalid &amp;&amp; theForm.sol.$touched ">Solution is mandatory</span>
                                <textarea  ng-required="true" rows="17" placeholder="Solution" type="text" class="form-control"

                                          name="sol" ng-model="issue.sol"></textarea>

                            </div>
                        </div>
                    </div>


                    <br/>
                    <input ng-disabled="theForm.$invalid"
                           type="submit" class="btn btn-primary">
                    </input>


                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>


</div>



<script th:inline="javascript">
/*<![CDATA[*/
$('.selectpicker').selectpicker({

  size: 6
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

/*]]>*/
</script>


</body>
</html>