<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>


    <script th:src="@{js/angular/angular.js}"></script>
    <script th:src="@{js/searchIssues.ctrl.js}"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <link rel="icon" type="image/gif/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Map-circle-grey.svg/768px-Map-circle-grey.svg.png"/>
    <title>Search Issues | SFMS Assist</title>


    <style>
        body{
background-color:#f5f7f8;
}

		.padding-0{
    padding-right:0;
    padding-left:0;
    }
 .w3-card{
 background-color:white;
 }

 .homeBtn{
 background-color:#90A4AE;
 }

 .issueCard{
 padding-top:5px;padding-bottom:7px;
 }

 .issueCard:hover {
   box-shadow:0 5px 10px 0 rgba(0,0,0,0.16),0 5px 15px 0 rgba(0,0,0,0.12);
}

a {
color: inherit;
}

.closed{
border-left:3px solid #263238;
}

.open{
border-left:3px solid #90A4AE;
}

.label-closed{
background-color:#37474F;
}



.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity:0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity:1;
}



    </style>

</head>
<body ng-controller="Ctrl as ctrl" >

<div class="w3-bar w3-border w3-white">
    <a style="text-decoration:none;"  class="w3-bar-item w3-button"><strong>&nbsp;&nbsp;SFMS Assist&nbsp;&nbsp;</strong> </a>
    <a style="text-decoration:none;" href="/" class="w3-bar-item w3-button "><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a>

    <div class="w3-dropdown-hover">
        <button class="w3-button"><span class="glyphicon glyphicon-chevron-down"></span></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a style="text-decoration:none;" href="/addIssueDetails" class="w3-bar-item w3-button "><span class="glyphicon glyphicon-plus"></span>&nbsp; Add New Issue</a>
            <a style="text-decoration:none;" href="/allIssues" class="w3-bar-item w3-button "><span class="glyphicon glyphicon-th-list"></span>&nbsp; All Issues</a>
            <a style="text-decoration:none;" href="/searchIssues" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-search"></span>&nbsp; Search Issues Repository</a>
            <a style="text-decoration:none;" href="/generateReport" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; Generate Report</a>        </div>
    </div>
    <a style="text-decoration:none;"  th:href="@{/logout}"  class="w3-bar-item w3-button  w3-right " data-toggle="tooltip" data-placement="bottom" title="Logout"><span class="glyphicon glyphicon-log-out"></span> </a>
</div>

<div class="container-fluid" style="padding-bottom:10px;">

    <div class="row" >
        <div class="col-sm-2">


        </div>
        <div class="col-sm-8">


                <div ng-if="ctrl.showJumbo" class="jumbotron" style="margin-top:10px;">

                    <h1>Search Issues Repository</h1>
                    <hr/>
                    <span>Search All Issues : Pending/Closed</span><br/>
                    <span>Search on any of the following fields: <li>Issue Title</li><li>Issue Description</li><li>Issue Solution</li> </span>
                </div>



            <div  class="w3-panel w3-card vertical-center" >
                <br/>


                        <input data-toggle="tooltip" data-placement="bottom"
                               title="Search all Issues open / closed based on the fields Title / Description / Solution"
                               ng-model="ctrl.query" ng-keyup ="ctrl.loadData()" name="ticketId" type="text" class="form-control"
                               placeholder="Search all Issues open / closed based on the fields Title / Description / Solution"/>


                <br/>
            </div>


            <div ng-if="ctrl.makeListVisible">
            <span class="text-muted">Currently showing {{filtered.length}} Issue(s) </span>

            <div class="item" ng-repeat="issue in ctrl.result | filter:query as filtered " md-highlight-text="query" >


                <a ng-href="/showIssueDetails/{{issue.issueId}}" style="text-decoration:none;">
                    <div class="w3-panel w3-card issueCard" ng-class="{'closed': issue.isClosed,'open': !issue.isClosed}">

                        <span class="label label-default">{{issue.ticketId}}</span>
                        <span class="label label-default">{{issue.bankCodeStr}}</span>
                        <!--{{issue.isAssigned}}-->
                        <span class="label label-closed" ng-show="issue.isClosed">Closed</span>
                        <span class="label label-success" ng-show="issue.isYourTicket ">Your Issue</span>
                        <!--<span class="label label-success" ng-show="issue.assignedToYou">Assigned to you</span>-->

                        <!--<span class="label label-success" ng-show="issue.isAssigned">Assigned to you</span>-->
                        <span class="pull-right text-muted">{{issue.issueLoggedOn | date: 'medium'}}</span>
                        <h4>{{issue.issueTitle}}</h4>
                        <p>{{issue.issueDesc}}</p>
                        <span ng-if="issue.isClosed">
                            <strong>Solution:</strong> {{issue.issueSolution}}
                            <br/>
                        </span>
                        <span class="label label-primary">{{issue.issueCatStr}}</span>
                        <span class="label label-info">{{issue.issueSubCatStr}}</span>

                        <span ng-show="issue.issueTypeStr == 'Production'" class="pull-right label label-danger">Production</span>
                        <span ng-show="issue.issueTypeStr == 'UAT'" class="pull-right label label-warning">UAT</span>

                    </div>
                </a>

            </div>

            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>


</div>
<script th:inline="javascript">
/*<![CDATA[*/

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

/*]]>*/
</script>


</body>
</html>